.container-md {
    display: flex;
    flex-direction: column;
    border-color: black;
}

.fulAlto {
    height: 100vh;
}

.border-end {
    display: grid;
    align-content: center;
}

#Promedio {
    padding: 30px;
}



.d-grid {
    display: flex;
    align-items: center
}

#listaGrupos .tituloGrupos h4 {
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 1.5rem; 
    margin-bottom: 10px;
}


#listaGrupos .nombre-curso {
    font-weight: bold; 
    color: black; 
    font-size: 1rem; 
}

#listaGrupos .nombre-alumno {
    font-size: 0.9rem; 
}

.titulo-grupo {
    color: #007bff; 
    font-size: 20px; 
    margin-bottom: 10px; 
}

#listaGrupos .listaAlumnos {
    display: none; 
}

.body{
    background: linear-gradient(
        to bottom right,
        #6889FF, #c668ff
    );
}

.btn-outline-success{
    background-color: white;
}

body{
    background-image: linear-gradient(177deg, rgba(122, 122, 122, 0.05) 0%, rgba(122, 122, 122, 0.05) 40%,rgba(64, 64, 64, 0.05) 40%, rgba(64, 64, 64, 0.05) 100%),linear-gradient(300deg, rgba(200, 200, 200, 0.1) 0%, rgba(200, 200, 200, 0.1) 62%,rgba(39, 39, 39, 0.1) 62%, rgba(39, 39, 39, 0.1) 100%),linear-gradient(28deg, rgba(243, 243, 243, 0.01) 0%, rgba(243, 243, 243, 0.01) 58%,rgba(154, 154, 154, 0.01) 58%, rgba(154, 154, 154, 0.01) 100%),linear-gradient(318deg, rgba(136, 136, 136, 0.04) 0%, rgba(136, 136, 136, 0.04) 58%,rgba(205, 205, 205, 0.04) 58%, rgba(205, 205, 205, 0.04) 100%),linear-gradient(297deg, rgba(240, 240, 240, 0.09) 0%, rgba(240, 240, 240, 0.09) 53%,rgba(146, 146, 146, 0.09) 53%, rgba(146, 146, 146, 0.09) 100%),linear-gradient(10deg, rgba(19, 19, 19, 0.1) 0%, rgba(19, 19, 19, 0.1) 18%,rgba(125, 125, 125, 0.1) 18%, rgba(125, 125, 125, 0.1) 100%),linear-gradient(84deg, rgba(146, 146, 146, 0.08) 0%, rgba(146, 146, 146, 0.08) 10%,rgba(123, 123, 123, 0.08) 10%, rgba(123, 123, 123, 0.08) 100%),linear-gradient(90deg, rgb(71, 65, 230),rgb(121, 231, 221));

}
